/* File: frontend/src/styles/partials/keyframes.css */

@import url('./variables/index.css');

/* ============================================== */
/* ============================================== */

.sparkle {
  animation: sparkleColor 2.5s linear infinite alternate;
}

/* ============================================== */
/* ============================================== */

@keyframes sparkleColor {
  0% {
    filter: var(--drop-shadow-1) var(--drop-shadow-2) brightness(1.1);
  }
  50% {
    filter: var(--drop-shadow-3) var(--drop-shadow-4) brightness(1.3);
  }
  100% {
    filter: var(--drop-shadow-5) var(--drop-shadow-6) brightness(1.15);
  }
}
