/* File: frontend/src/styles/scss/components/_buttons.scss */

@use 'scss/variables/index' as *;
@use 'scss/props/index' as *;
@use 'scss/mixins/index' as *;

/* ============================================== */

.canvas-io-btn {
  display: flex;
  padding: 0.45rem 1.3rem;
  margin: 0.3rem 0;
  min-width: 110px;
  max-width: 180px;
  align-items: center;
  gap: 0.5rem;
  background-color: $arcadian-pink;
  border: none;
  border-radius: 1.2rem;
  /* box-shadow: $box-shadow-1; */
  box-shadow:
    0 4px 24px -6px $bubblegum-pop-80,
    0 1.5px 6px -4px $p_black-11;
  transition:
    background 0.22s,
    transform 0.16s,
    box-shadow 0.22s;
  outline: none;
  cursor: pointer;

  &:focus,
  &:focus-visible {
    outline: $btn-focus-outline-1;
    outline-offset: 2px;
    box-shadow: $bubblegum-pop-80;
  }

  &:hover {
    background-color: $ultraviolet-slap;
  }

  &:hover,
  &:focus {
    background: linear-gradient(
      90deg,
      $electric-rose 0%,
      $dreamcore-indigo 100%
    );
    transform: translateY(-2px) scale(1.04) rotate(-1deg);
    box-shadow:
      0 8px 28px -6px $grape-soda-glow-80,
      0 2.5px 10px -4px $p_white-33;
  }
}

/* ============================================== */

.canvas-toolbar button {
  font-size: 1.08rem;
}
