/* File: frontend/src/styles/scss/components/_labels.scss */

@use 'scss/mixins/index' as *;

/* ============================================== */

#sparkle-checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  @include respond-min(md) {
    font-size: 1.125rem;
  }
}
