/* File: frontend/src/styles/scss/base/_root.scss */

@use 'scss/variables/index' as vars;

/* ============================================== */
/* ============================================== */

* {
  box-sizing: border-box;
}

/* ---------------------------------------------- */

body,
html {
  font-family: vars.$font-stack-body;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  align-items: center;
  background: vars.$frosted-concrete;
}
