/* File: frontend/src/styles/partials/components/_labels.scss */

@import '../mixins/index';

/* ============================================== */

#sparkle-checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  @include respond(md) {
    gap: 0.5rem;
    font-size: 1.125rem;
  }
}
