/* File: frontend/src/styles/partials/components/_text.scss */

@import '../variables/index';
@import '../mixins/index';

/* =================================================== */

#graphic-text-span {
  font-family: $font-stack-graphic-text-default;
  font-weight: 800;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  line-height: 1.4;
  filter: $filter-1;

  @include respond(md) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
