/* File: frontend/src/styles/scss/props/_borders.scss */

@use 'scss/variables/index' as *;

/* ============================================== */

$border-1: 4px solid $frosted-rose-quartz;

$border-2: 4px solid $orchid-dream;

$border-3: 5px dashed $indigo-riot;

$border-4: 5px dashed $purple-reign;
