/* File: frontend/src/styles/scss/props/_effects.scss */

@use 'scss/base/index' as *;

/* ============================================== */

$sparkle-overlay-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

/* ---------------------------------------------- */

#canvas-container::before {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
  /* add an asset before at this URL */
  background: url('/assets/decor/sparkle-overlay.png') repeat;
  opacity: 0.12;
  z-index: 5;
  animation: sparkleMove 10s linear infinite;
}
