/* File: frontend/src/styles/scss/props/_text.scss */

@use 'scss/variables/index' as *;
@use 'scss/props/shadows' as *;
@use 'scss/mixins/index' as *;

/* ============================================== */
/* ============================================== */

.canvas-io-btn {
  font-family: $canvas-io-btn-font-stack;
  font-size: 1rem;
  font-weight: bold;
  color: $p_white;
  letter-spacing: 0.01em;

  @include respond-min(md) {
    font-size: 1.25rem;
  }

  @include respond-min(lg) {
    font-size: 1.5rem;
  }
}

/* ----------------------------------------------- */

#graphic-text-span {
  font-family: $font-stack-graphic-text-default;
  font-weight: 800;
  font-size: clamp(1.1rem, 2.5vw, 1.75rem);
  letter-spacing: 0.05em;
  line-height: clamp(1.4rem, 3vw, 2.25rem);

  @include respond-min(md) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

/* ----------------------------------------------- */

#sticker-checkbox-label {
  font-size: clamp(1rem, 1.8vw, 1.125rem);
}

/* ----------------------------------------------- */

#sticker-tray-heading,
.tray--extras h2 {
  font-size: clamp(1.25rem, 3vw, 1.6rem);
  color: $purple-reign;
  letter-spacing: 0.03em;
  text-shadow: 0 1px 4px $bubblegum-pop-66;
}
