/* File: frontend/src/styles/scss/props/_text.scss */

@use 'scss/variables/index' as *;
@use 'scss/props/shadows' as *;
@use 'scss/mixins/index' as *;

/* ============================================== */
/* ============================================== */

.canvas-io-btn {
  font-family: $canvas-io-btn-font-stack;
  font-size: 1.05rem;
  font-weight: bold;
  color: $p_white;
  letter-spacing: 0.01em;

  @include respond-min(md) {
    font-size: 1.25rem;
    padding: 0.75rem 2.5rem;
  }

  @include respond-min(lg) {
    font-size: 1.5rem;
    padding: 1rem 3rem;
  }
}

/* ----------------------------------------------- */

.canvas-toolbar button {
  font-size: 1.08rem;
}

/* ----------------------------------------------- */

#graphic-text-span {
  font-family: $font-stack-graphic-text-default;
  font-weight: 800;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  line-height: 1.4;

  @include respond-min(md) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

/* ----------------------------------------------- */

#sticker-checkbox-label {
  @include respond-min(md) {
    font-size: 1.125rem;
  }
}

/* ----------------------------------------------- */

#sticker-tray-heading,
.tray--extras h2 {
  font-size: 2rem;
  color: $purple-reign;
  letter-spacing: 0.03em;
  text-shadow: $text-shadow-1;
}

/* ----------------------------------------------- */
