/* File: frontend/src/styles/partials/variables/_colors.scss */

/* ============================================== */

/* ------- Background Colors -------------------- */

$body-bg-color-1: #ddddddff;

$button-bg-color-1: #e879f9ff;
$button-bg-color-1-hover: #c026d3ff;

$canvas-bg-color: #fffbe6ff;

$bg-color-1: #ffffffe6;

/* ------- Text Colors -------------------------- */

$button-text-color-1: #ffffffff;

/* ------- Shadow Colors ------------------------ */

$btn-focus-box-shadow-1-color: #e879f970;
$canvas-box-shadow-color: #ff80c5aa;

$box-shadow-1-color: #0000001a;
$box-shadow-2-color: #00000040;

$drop-shadow-1-color: #ffffff88;
$drop-shadow-2-color: #ffff00dd;
$drop-shadow-3-color: #ffffeeff;
$drop-shadow-4-color: #ff00ff88;
$drop-shadow-5-color: #ff00ffff;
$drop-shadow-6-color: #00ffff88;

/* ------- Outline Colors ----------------------- */

$button-focus-outline-color-1: #f9a8d4ff;

/* ------- Border Colors ------------------------ */

$border-color-1: #e979f9ff;

/* ------- Filter Colors ------------------------ */

$filter-color-1: #00000033;
