/* File: frontend/src/styles/partials/variables/_fonts.scss */

/* ============================================== */

/* ------- Font Stacks -------------------------- */

$font-stack-header: 'Impact', 'Arial Black', 'Luckiest Guy', 'Bangers', Arial, sans-serif;

$font-stack-body: 'Trebuchet MS', Verdana, Arial, sans-serif;

$font-stack-goth: 'Creepster', 'Georgia', 'Papyrus', serif;

$font-stack-mono: 'Courier New', 'Lucida Console', monospace;

$font-stack-script: 'Lobster', 'Comic Sans MS', 'Monotype Corsiva', cursive;

$font-stack-graphic-text-default:
  ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono';
