/* File: frontend/src/styles/partials/variables/_shadows.scss */

@import './colors';

/* ============================================== */

/* ------- Box Shadows -------------------------- */

$btn-focus-box-shadow-1: 0 0 0 4px $btn-focus-box-shadow-1-color;
$canvas-box-shadow: 0 0 48px $canvas-box-shadow-1-color;

$box-shadow-1:
  0 10px 15px -3px $box-shadow-1-color,
  0 4px 6px -4px $box-shadow-1-color;
$box-shadow-2: 0 25px 50px -12px $box-shadow-2-color;

/* ------- Drop Shadows ------------------------- */

$drop-shadow-1: 0 0 12px var(--drop-shadow-1-color);
$drop-shadow-2: 0 0 3px var(--drop-shadow-2-color);
$drop-shadow-3: 0 0 24px var(--drop-shadow-3-color);
$drop-shadow-4: 0 0 10px var(--drop-shadow-4-color);
$drop-shadow-5: 0 0 16px var(--drop-shadow-5-color);
$drop-shadow-6: 0 0 4px var(--drop-shadow-6-color);
