/* File: frontend/src/styles/partials/variables/colors.css */

/* ============================================== */
/* ============================================== */

:root {
  --body-bg-color: #ddddddff;

  /* ============================================ */
  /* ============================================ */

  --drop-shadow-color-1: #ffffff88;
  --drop-shadow-color-2: #ffff00dd;
  --drop-shadow-color-3: #ffffeeff;
  --drop-shadow-color-4: #ff00ff88;
  --drop-shadow-color-5: #ff00ffff;
  --drop-shadow-color-6: #00ffff88;
}
