/* File: frontend/src/styles/scss/variables/_colors.scss */

/* ============================================== */
// Main Colors

$angel-mist: #f7deeae6;
$arcadian-pink: #e879f9;
$baby-blueberry: #b7c8f7;
$bubblegum-pop: #e879f9;
$cloud-shadow: #00ffff;
$cotton-candy-pink: #fff1f7;
$dandelion-fluff: #ffffee;
$disco-orchid: #ff80c5;
$dream-bubble: #dbeafe;
$dreamcore-indigo: #6366f1;
$electric-rose: #f472b6;
$frosted-concrete: #dddddd;
$frosted-rose-quartz: #e979f9;
$glacier-cream: #b7c8f7;
$grape-soda-glow: #c026d3;
$indigo-riot: #5a00d2;
$lavender-sky: #a5b4fc;
$lavender-whisper: #e9d5ff;
$limoncello-flash: #ffff00;
$magenta-haze: #ff00ff;
$orchid-dream: #ff80cf;
$pastel-heart-rose: #fff1f7;
$petal-mist: #fff1f7;
$purple-reign: #a21caf;
$rosewater-milkshake: #fce7f3;
$strawberry-frost: #f9a8d4;
$ultraviolet-slap: #c026d3;
$vanilla-cream: #fffbe6;

/* ============================================== */
// Opacity Variants

$bubblegum-pop-30: #e879f930;
$bubblegum-pop-40: #e879f940;
$bubblegum-pop-66: #e879f966;
$bubblegum-pop-70: #e879f970;
$bubblegum-pop-80: #e879f980;

$cloud-shadow-88: #00ffff88;

$disco-orchid-aa: #ff80c5aa;

$grape-soda-glow-80: #c026d380;

$limoncello-flash-dd: #ffff00dd;

$magenta-haze-88: #ff00ff88;

/* ============================================== */
// Pure Color Variants

$p_black: #000000ff;
$p_black-11: #00000011;
$p_black-1a: #0000001a;
$p_black-33: #00000033;
$p_black-40: #00000040;

$p_white: #ffffffff;
$p_white-33: #ffffff33;
$p_white-88: #ffffff88;
$p_white-bf: #ffffffbf;
